<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
                    <title>InstaProj</title>
                    
                    <!-- Bootstrap -->
                    <link href="css/bootstrap.min.css" rel="stylesheet">
                        <link href="css/font-awesome.min.css" rel="stylesheet">
                            <link href="css/PreLogIn.css" rel="stylesheet"> <!-- general style sheet.s -->
                                
                                
                                
                                <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
                                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                                <!--[if lt IE 9]>
                                 <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
                                 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                                 <![endif]-->
                                
                                <style>
                                    
                                    /* back panel which changes colour when option is selected  */
                                    
                                    .smm{
                                        font-size:80%;
                                    }
                                
                                .rulw{
                                    color:white;
                                }
                                
                                .width50{
                                    width:50%;
                                }
                                
                                .bottom-score{
                                    width:500px;
                                    margin: 0 auto;
                                }
                                
                                
                               
                                
                               
                                    
                                    </style>
                                </head>
    <body>
        
        <div class = "centered-div fixx ublogo-holder">
            <div class = "centered-div fixx ublogo">
            </div></div>
        <div class = "clearer"></div>
        <nav class="navbar navbar-default pre-LI-navbar">
            
            <div class="container-fluid">
                
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded"false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    
                </div>
                
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="BloggerSignUp.html">
                                Bloggers
                                <i class="fa fa-camera-retro" aria-hidden="true"></i>
                                <span class="sr-only">
                                    (current)
                                </span>
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                Business
                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                            </a>
                        </li>
                        
                    </ul>
                    
                    
                    
                    
                    <!-- Right Hand Side Of Navbar: -->
                    <ul class="nav navbar-nav navbar-right">
                        
                        
                        
                        <li>
                            <a href="login.html">
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                Log In
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                Sign Up
                                <span class="caret"></span></a>
                            
                            <ul class="dropdown-menu">
                                <li><a href="BloggerSignUp.html">Sign Up As A Blogger</a></li>
                                <li><a href="BusinessSU.html">Sign Up As A Business</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Terms And Conditions</a></li>
                            </ul>
                        </li>
                        
                        
                        
                        <li><a class = "spain-circle" href="#"></a> </li>
                        
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        
        
        <div class="front-page4">
            
            <div id = "verify-form">
                
            <div class = "lefty verify-text cen-text">
                <h3> Verify Accounts </h3>
                <hr></hr>
                
                <h5> The more verified followers the better, so link as many accounts as you can. </h5>
                <h6><span class = "smm grey4black"> Simply use the green buttons to auto-verify any accounts that are logged in on this device. alternatively enter you assosciated email into the text field and we will send you a confirmation message, don't worry you can always come back and link more accounts later. </h6></span>
                
                
            </div>
            
            <div class = "righty top-row-verify">
                
                <div class = "h-h-split bl lefty">
                <div class = "smv-box" id = "snap-chat-verify">
                    
                    <div class = "sm-logo">
                         <h1 class = "bigger-text yell"><i class="fa fa-snapchat-square" aria-hidden="true"></i></h1>
                    </div>
                  
                </div>
                </div>
                
                <div class = "h-h-split bl1 righty">
                <div class = "smv-box" id = "you-tube-verify">
                    
                    <div class = "sm-logo">
                        <h1 class = "bigger-text wh"><i class="fa fa-youtube-square" aria-hidden="true"></i></h1>
                    </div>
                    
                </div>
                </div>
            </div>
            
            <div class = "clearer"></div>
            
            <div class = "lefty bottom-row-verify-l">
                <div class = "smv-box" id = "fb-verify">
                    
                    <div class = "sm-logo">
                        <h1 class = "bigger-text"><i class="fa fa-facebook-square" aria-hidden="true"></i></h1>

                    </div>
                    
                </div>
            </div>
            
            <div class = "righty bottom-row-verify-r2">
                
                <div class = "h-h-split lefty">
                <div class = "smv-box brv-r1" id = "instagram-verify">
                    
                    <div class = "sm-logo">
                        <h1 class = "bigger-text"><i class="fa fa-instagram wh" aria-hidden="true"></i></h1>
                    </div>
                    
                </div>
                </div>
            
                
                <div class = "h-h-split righty">
                <div class = "smv-box brv-r2" id = "twitter-verify">
                    
                    <div class = "sm-logo">
                        <h1 class = "bigger-text"><i class="fa fa-twitter-square" aria-hidden="true"></i></h1>
                    </div>
                    
                </div>
                </div>
                
            </div>
            
             <div class = "clearer"></div>
             
             
            <div class = "bottom-score">
               
            
            <div class = "cen-text grey4black width50 lefty">
                <h4>Verified Accounts: 0 </br>Verified Followers: 0 </h4>
            </div>
            
            <div class = "width50 righty">
                <a href = "BloggerPPhoto.html">
                <div id="sign-up-but2">
                    <h4> Continue</h4>
                </div>
                </a>
            </div>
                
            </div>
            
            
            </div>
            
          
            
        </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<script>
    
    $("#header-bar").css("height",$(window).height()*0.05);
    $("#page-holder").css("height",$(window).height());
    $("#page-holder").css("width",$(window).width());
    $("#l-h-side-div").css("width",$(window).width()*0.34);
    $("#l-h-side-div").css("height",$(window).height()*0.8);
    $("#r-h-side-div").css("width",$(window).width()*0.66);
    $("#r-h-side-div").css("height",$(window).height()*0.8);
    
    $(".soc-med-hold").css("width",$(window).width()*0.25);
    $(".soc-med-hold").css("height",$(window).height()*0.3);
    $(".topper").css("height",$(window).height()*0.2);
    $(".topper").css("width",$(window).width()*0.25);
    $(".verify-button").css("width",$(window).width()*0.12);
    $("#botto").css("width",$(window).width()*0.25);
    $("#botto").css("height",$(window).height()*0.1);
    $(".verify-button").css("height",$(window).height()*0.06);
    
    
    
    
    </script>

<script>
    
    
    function locationMap() {
        
        
        var barcelonaLocation = new google.maps.LatLng(40.4168,-3.7038);
        
        var mapCan = document.getElementById("map");
        var mapOpt = {center: barcelonaLocation, zoom: 3};
        var map = new google.maps.Map(mapCan,mapOpt);
        
        var myLocation = new google.maps.Circle({
                                                center: barcelonaLocation,
                                                radius: 400000,
                                                strokeColor: "#0000FF",
                                                strokeOpacity: 0.8,
                                                strokeWeight: 2,
                                                fillColor: "#0000FF",
                                                fillOpacity: 0.4
                                                });
                                                myLocation.setMap(map);
                                                
    }

google.maps.event.addDomListener(window, 'load' , initialize);
    </script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATM0GPJ7BOQpfUhKzrb7LmbV1YzITQEck&callback=locationMap">
    </script>





    </body>
</html>
