{% extends 'melon-page.html'%}
{% block page_insert %}

<style>
    
    .content-viewer{
        float:left;
        width:30%;
        
    }
    
    .content-viewer-a{
        float:left;
        width:75%;
    }
    
     .episode-text{
        float:right;
        width:70%;
         margin-top:-30px;
         max-height:650px;
    }
    .slide-title-class-b{
        position:relative;
        margin-top:-40px;
    }
    
    
    .page-text-f{
        min-height:580px;
        max-height:580px;
     
        position:relative;
        margin-top:-40px;
     
    }
    
    .episode-contents-item{
        height:75px;
        width:69%;

        border-style: solid;
        border-width: 0 0 2px 0;
        border-color:black;
        padding-top:10px;
    }
    
    .italy{
        font-style: italic;
    }
    
 
    
    .episode-elipses-holer{
        width:400px;
        height:50px;
   
        position:fixed;
        margin-top:15px;
        margin-left:250px;
        display: none;
        bottom:40px;
        
    }
    
    .ep-slipse{
        margin-left:10px;
    }
    
    .ep-slipse-active{
        margin-left:10px;
        font-size:150%;
        position:relative;
        color:#0E5DC4;
    }
    
    
    
    border-width: 0 0 2px 0;
        border-style:solid;
        margin-bottom:30px;
    }
    
    .episode-contents-item:hover{
        cursor:pointer;
    }
    
    
    .ssh-frame{
        width:520px;
        height:315px;
        overflow: hidden;
    }
    
    .ssh-frame-s{
        width:320px;
        height:270px;
        position:relative;
        float:right;
        overflow: hidden;
         margin-left:40px;
         margin-left:40px;
        margin-right:-60px;
       
        margin-top:-20px;
        margin-bottom:10px;
    }
    
    
    .ssh-frame-m{
        width:470px;
        height:400px;
        position:relative;
        float:right;
        overflow: hidden;
         margin-left:40px;
         
        margin-right:-65px;
       
        margin-top:-20px;
        margin-bottom:10px;
    }
    
    .contents-active{
        border-color: lawngreen;
        font-size:150%;
        font-weight: 800;
        width:90%;
         border-width: 0 0 4px 0;
        height:85px;
    }
    
     .contents-active-text{
       
        font-size:130%;
        font-weight: 800;
         text-align: left;
         
      
    }
    
    .marged-header{
        margin-bottom:35px;
    }
    
    .link{
	color: #000000;
	font-size: 16px;
	font-weight: 700;

	text-decoration: none;
    position: relative;
	z-index: 1;
	display: inline-flex;
	
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;

}
    
    .text95{
        font-size: 95%;
    }
    
    .text955{
        font-size: 90%;
    }

/*
* These styles creates the underlining of link
*/
    .link:hover{
        text-decoration: none;
    }
.link::before{
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, #0E5DC4 25%, transparent 40%);
	
	position: absolute;
	left: 0;
	bottom: 2px;
	z-index: -1;
	
	will-change: width;
	transform: rotate(-2deg);
	transform-origin: left bottom
}

.link:hover::before{
	width: 0;
}

/*
* animation styles
*/

.link::before{
	transition: width .1s ease-out;
}

.link:hover::before{
	transition-duration: .15s;
}
    
    {% load static %}
    .level-displayer{
        width:250px;
        height:150px;
        border-radius:10px;
         background-image:url("{% static 'photos/otw.jpg' %}");
        background-size:contain;
        background-repeat: no-repeat;
        padding-top:100px;
    }
    
    .biggerdash{
        font-size:200%;
        position:fixed;
        margin-top:-12px;
    }
    
    .next-page-arrow{
       
       
        float:right;
        margin-left:10px;
        font-size:300%;
        color:#0E5DC4;
        bottom:0;
        min-width:20px;
        min-height: 20px;
         position:absolute;
        bottom:0;
        right:10px;
        
    }
    
     .last-page-arrow{
       
       
        float:left;
        margin-left:-60px;
        font-size:300%;
        color:#0E5DC4;
      
          min-width:20px;
        min-height: 20px;

        
    }
    
    .lev-display-text{
        width:100%;
        background-color: red;
        height:50px;
        background-color: aliceblue;
        
        
    }
    
    .lev-head{
        margin-top: 0;
        text-align: center;
    }
    
    
    .first-exploit-episode-text{
     
    }
    
    .NY{
        opacity:0.1;
    }
    
    .content-holding{

        max-height:650px;
        overflow-y: scroll;
    }
    
    .level-goal-hold{
           background-color: aliceblue;
        border-style:solid;
        border-width:0px;
        border-left-width:5px;
        border-color:black;
        border-radius:5px;
        padding:8px;
        padding-left:9px;
    }
    
    .lgl{
        width:80%;
    }
    
    .lgm{
        width:50%;
    }

</style>


<div class = "content-viewer">
    
    <div class = "content-viewer-a">
    
    
    <div class = "episode-contents-item contents-active" id = "ublog-intro"><h4 class = "contents-active-text">0. Introduction</h4></div>
    <div class = "episode-contents-item" id = "ublog-first"><h4>1. Bandit</h4></div>
     <div class = "episode-contents-item nY"><h4>2. Narnia</h4></div>
    <div class = "episode-contents-item NY"><h4>3. Leviathan</h4></div>
    <div class = "episode-contents-item NY"><h4>4. Natas</h4></div>
    <div class = "episode-contents-item NY"><h4>5. Krypton</h4><h6></h6></div>
        <div class = "episode-contents-item NY"><h4>6. Utumno</h4></div>

    </div>
    
     <div class = "content-viewer-b">
    </div>

</div>

<div class = "episode-text">
    
       <div class = "ublog-intro-text text-active">

  



<div class = "all-level-display">
    <div class = "colly1"></div>
    <div class = "colly2"></div>
    <div class = "colly3"></div>
</div>

           
            <div class = "ublog-intro-text-disclaimer page-text-i">
                <h1>Welcome To The Over-The-Wire Tutorials</h1>
                
                <h4>The General Goal</h4>
                
                 Each level presents you with the same abstract task: You are given access to a remote shell within a user account on the over the wire servers. Essentially we have access to a limited/restricted part of the network, and our goal is to obtain information or use knowledge of common vulnerabilities in order to gain access to the <span class ="italy">next</span> part of the network.<br><br>
              
              Helpfully, the levels run logically in order and you generally have some idea of what type of vulnerability you are looking for. <br><br>
              
                
                <div class = "all-levels-display">
                <div class = "level-displayer">
                    
                    <div class = "lev-display-text">
                    <h2 class = "lev-head">Bandit</h2>
                    </div>
                </div>
                </div>
                
           </div>
            <div class = "ublog-intro-text-disclaimer page-text-i">

<p>
    
     
    

</p>
           </div>
    
    </div>
    
    <div class = "ublog-overview-text">
          
        
    </div>
    
    <div class = "first-exploit-episode-text">
         
        <div class = "first-exploit-episode-text-p1 page-text-f">
<div class = "slide-title-class">
 <h1>Bandit</h1>

    </div>
    
    Bandit is the introductory game in the Over the Wire Series. You can find the landing page to the Bandit game by clicking <a href = "http://www.overthewire.org/wargames/bandit/">here</a>.

<br><br>
 <div class = "level-goal-hold lgl">
<h4 style = "text-align: center;">Game Overview</h4>

Bandit covers the fundamentals needed to tackle the other games in the over the wire series.<br><br>

Command line/terminal basics.<br>
Creating an SSH connection.<br>
Common commands that are relevant to security.
     
            </div>
            <br><br><br>
            As well as ensuring you have the relevant prequisite knowledge, any run of the mill problems such as connecting to the over the wire servers should come up during this level. This means that once you power through Bandit you should be set to have fun playing all the other games.


 <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>

    
   

    


            
    </div>
        
        
        
        <div class = "first-exploit-episode-text-p2 page-text-f">
            
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
            
            
<h1>First Level - Bandit0</h1>
            
            Browsing the first level on the Over The Wire site, we are presented with the following level descriptor:<br><br>

            <div class = "level-goal-hold lgl">
                
                
                <b>Level Goal:</b><br><br>


The goal of this level is for you to log into the game using SSH. The host to which you need to connect is <b>bandit.labs.overthewire.org</b>, on port <b>2220</b>. <br><br>The username is <b>bandit0</b> and the password is <b>bandit0</b>.<br><br> Once logged in, go to the Level 1 page to find out how to beat Level 1. 
                </div><br><br>
            
            The first level is pretty straight forward, our two main objectives will be: <br><br>
            
            <b>1.</b> Getting familiar with the command line.<br><br>
            
            <b>2.</b> Initiating a SSH connection.
            
            
            
            
            
             <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>
            
        </div>
        
         <div class = "first-exploit-episode-text-p3 page-text-f">
               <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
            
          <h3> Bash Shell - Terminal - Command Line</h3>
            
             
             In laymans terms, a <b>shell</b> means any program that is used to send commands to the operating system. A shell provides a means to interact with the kernel, and the 'lower levels' of the operating system. <br><br>
            
If a software engineer wants to write a programme that requires the ability to interact with the underlying operating system (that would be all of them), for example to read/write from a file, or to play sound through the speakers, that is where a <b>shell</b> comes in handy. The author does not need to write the code from scratch, in fact in pretty much all OS's this is prohibitted, as these functions need to be standardised. The limited functions of the underlying operating system are all accessible through <b>commands</b>, which can be sent from a shell.<br><br>
             
           
            The <b>Bash</b> Shell is a <b>Unix</b> shell and command language written by Brian Fox.
             
             The <b>terminal</b> is the programme that provides the interface to the bash shell, allowing the user to interactively send commands directly to the OS.
             
             When we do this, we are interacting with the <b>Command Line</b>.<br><br>
             
If you want to understand how a general computer application functions, you are usually going to need to understand how it is interacting with the OS, that is the fundamental reason as to why it is important to have the necessary knowledge of UNIX commands, to know <span class = "italy">what</span> you can ask from your OS and <span class = "italy">how</span> you can ask it.<br><br>

If you are here because you want to be a penetration tester - then it is absolutely 100% necessary to be comfortable with the command line of your chosen OS.<br><br>

<b>Don't worry</b>, the whole point of the bandit game is to get you comfortable using the command line. Right now generally you can think of the terminal programme as an extremely 'raw' and stripped back interface into the heart of your computer.<br><br>

              <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>
             
            
        </div>
        
                <div class = "first-exploit-episode-text-p4 page-text-f">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
                   
           <h3>The <b>man</b> command and SSH - Secure Shells.</h3>
                    
                     The man (short for manual) command can be used to gain information about other UNIX commands....<br><br>
                    
                    Since we will be playing the wargames remotely - much like in real life where the target computer is likely to be a remote system - we are going to need to have the ability to run a remote shell on the target computer (in this case the over the wire servers).<br><br>

                     To do this, we will be utilising the power of <b>SSH</b>.<br><br>
                    
                    Try typing man ssh into your terminal, you will recieve a whole bunch of information about the SSH command. The display is in a pager format, hit b to go back, and hit q to return to the shell programme.<br><br>
                  

To summarise the... shell that is running on a remote computer, to which you maintain a connection using the secure socket layer. <br><br>

The result of this is that every command we type into our terminal will be sent to the connected system. as if we were physically sitting at the machine and running a shell (a command line/terminal session) <br><br>
                    You can learn about SSH in more depth here.<br><br>
                    
                    We are going to learn by doing and dive right in, lets create an SHH connection to the over the wire servers.<br><br>
                    
              


  <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>

        </div>
        
         <div class = "first-exploit-episode-text-p4 page-text-f imppy">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
                   
           <h3>Making the First SHH Connection As Bandit0</h3>
                    
            <div style = "float: left; ">
                
                   
                         {% load static %}
                <div class="iframe-dest"> </div>
           

                    
                    
                     

</div>
             <div style = "float: right; width:210px;"><br><br><br>
                 <b>Host:</b> bandit.labs.overthewire.org<br>
                        <b>Port:</b> 2220 <br>
<b>Username:</b> bandit0<br>
<b>Password:</b> bandit0 <br></div>
                    
                    <div style = "clear:both;"></div>
                    

<br><br>
A whole bunch of text will be printed into the terminal, hopefully looking a little something like this.
It's as simple as that, after providing the correct user name and password you are given access to a shell belonging to bandit0 on the bandit.labs.overthewire.org server. <br><br>And with that we have logged into level 0... on to level 1!




  <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>

        </div>
        
        
        
      
        
        
                <div class = "first-exploit-episode-text-p5 page-text-f imppy2">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
                    
                         {% load static %}
                <div class="iframe-dest2"> </div>
                    
                    <h1>Defeating Level 0</h1>
                    
                    
                    <div class = "level-goal-hold lgm">
<h4 style = "text-align: center;">OTW Level Description</h4>

The password for the next level is stored in a file called — located in the home directory
     
            </div><br><br>
        
In order to beat level 0, we will be utilising two basic UNIX commands.<br><br>
                    
                          
<h3>the 'ls' command </h3>

<span class = "italy">ls</span> - short for <b>list</b> is a pretty straightforward UNIX command that can be used to list the contents of the current working directory.
                    
we'll cover some of the possible options later, but for now we will use the default configuration.


<h3>the 'cat' command </h3>
                    
It can be used to print the output of a file to the terminal:
                  
<br><br>As shown in the terminal window, after running these commands the string of letters: <b>boJ9jbbUNNfktd78OOpsqOltutMc3MY1</b> was printed to the screen.

Quite simply, this is the password that we will need to log in to the next level.
                    
                    All the useful resources for each level are accessible via the resource icon. 


                    
                     <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>
        
        </div>
        
        
          <div class = "first-exploit-episode-text-p5 page-text-f">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
        
        
  <h1>The General Idea</h1>
              
              So that was pretty simple, but the fundamental method of each level has become clear:<br><br>
              
              We have landed within a user account on the over the wire servers where we have a secure shell. Essentially we have access to a limited/restricted part of the network. <br><br>Our goal is to obtain information or use knowledge of common vulnerabilities in order to gain access to the <span class ="italy">next</span> part of the network.<br><br>
              
              Helpfully, the levels run logically in order and you generally have some idea of what type of vulnerability you are looking for. <br><br>
              
              Later the games become much more complex, and you will have to eploit vulnerabilities of the current user account to 'pivot' and jump to the next account from within the server, rather than making repeated SSH connections as we do throughout Bandit, this is much more comparable to the real life scenarios.
              
              <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>
        
        </div>
        
        
         <div class = "first-exploit-episode-text-p6 page-text-f">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
        
        
<h3>Logging in to Level 1</h3>
             
             So we have successfully found the password for the bandit1 account on the over the wire server.<br><br>
             
             All That's left to do in order to beat level 0 is log into bandit1 using SSH in the same way that we did for bandit0.<br><br>
        
             You can exit this SSH session by running the <b>exit</b> command.<br><br>

We'll now initiate another SSH session using our newly found password, in the exact same manner as (before).<br><br>
 <div class = "level-goal-hold lgl">
Host: bandit.labs.overthewire.org (c)<br>
Port: 2220 (c)<br>
Username: bandit1 (c)<br>
     Password: boJ9jbbUNNfktd78OOpsqOltutMc3MY1 (c)</div><br><br>

note that the server and port have stayed the same, only the user and password that we will provide changes.<br><br>

Once entering the correct password, you should recieve a text output similiarly to when we connected to bandit0.<br><br>

And thats it! We have successfully logged into bandit1 and we can leave bandit0 in the past.<br><br>

Congratulations!
             
              <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>
        
        </div>
        
          <div class = "first-exploit-episode-text-p5 page-text-f imppy3">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
        
        <div class = "slide-title-class-b">
             {% load static %}
                <div class="iframe-dest3"> </div>
<h3>Finding the password for bandit2</h3>

    </div>
                <p class = "text95">
              
               Again, we'll start by running <b>ls</b> to exanmine the contents of the directory, we see that the directory contains a file called: <span class = "biggerdash" ><b>-</b></span> 
              
              <br><br>In UNIX, '-' is reserved as a <b>special</b> character. Specifically the '-' symbol is used to prefix an option following a UNIX command. (It's also used to switch between input and output, as well as filling the traditional role of arithmetic subtraction.)<br><br>
              
              Remember back to when we sent out our <b>ssh</b> command: <b>ssh bandit0@bandit.labs.overthewire.org -p 2220</b>. 
              
              Part of our command contains the component '-p 2220', here we were supplying 2220 as the value of the port option for the ssh command.
              
              Since '-' is interpretted differently than other characters, This leaves us with a problem. In the previous example we used 'cat (filename)' in order to print the contents of the file. if we try to input '-' as the our filename, the command line interprets this as us telling it we will supply an option to the cat command, which we never do.<br><br>
              
              If you have a background in coding, you may already be familiar with the concept of special characters. Remember that bash is not just a 'brand' of shell, but also a language in itself, logically it has a whole bunch of special characters that are reserved to have specific role. You can learn more about special characters in UNIX here. <br><br>
              
              Luckily the fact that people would inevitably use the special characters that are set aside in the bash language to name their own crap didn't make it past Brian and the other developers, and the language provides a simple work around.<br><br>
                    
             Providing ./ lets the command you are providing the exact location of an executable? file.
               
              </p>
              
               <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>
      
        </div>
        
         <div class = "first-exploit-episode-text-p5 page-text-f imppy4">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
        
        
 <div class = "slide-title-class-b">
     
         {% load static %}
                <div class="iframe-dest4"> </div>
              
<h3>Bandit 2 -> 3</h3>

    </div>
              
              you guessed it, we're going to start by running <b>ls</b>. <br><br>
              
              This directory contains a file called <b>spaces in this file name</b>.<br><br>
             
              In the terminal, a space is used to seperate arguments, so the sentance 'spaces in this file name' is interpretted as 5 seperate and distinct arguments.<br><br>
             
              By inserting '\' we essentially escape the spaces, allowing us to provide the name of our file as an argument, which is what we need to do if we want to reference it to be printed!<br><br>
             
              Pretty simple again, and clearly the main thing to take away is the knowledge that you can use \ to escape spaces in the command line.<br><br>
             
             This time, the password we recieved was: <b>UmHadQclWmgdLOKQ3YNgjWxGoRMb5luK</b>
             
              
              
           
                <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>
      
        </div>
        
         <div class = "first-exploit-episode-text-p5 page-text-f imppy6">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
        
        
 <div class = "slide-title-class-b">
     
         {% load static %}
                <div class="iframe-dest5"> </div>
              
<h3>Bandit 3 -> 4 </h3>

    </div>
              <p class = "text955">
             Hopefully you're getting the hang of this and you've already typed <b>ls</b> into your terminal like a pro. <br><br>
              
             This directory contains another directory, it's not what we're used to but don't worry we will power through.<br><br>
             
             Let's start by navigating into the 'inhere' directory, we do this by using the <b>cd</b> command, a very commonly used UNIX command that simply means 'change directory'.<br><br>
             Earlier I said we would explore the options of the ls command in more detail and I'm a man of my word. 
             
             We'll start by covering how the ls command handles hidden files. 
             
             <br><br>In UNIX, a hidden file is any file that begins with a dot (.) By convention, the ls command does not list <b>hidden files</b>. <br><br>
             
             providing the letter <b>a</b> as an option to the ls command will signify that you want to list the hidden directories.,br>,br.
             
             The <b>l</b> option is used to produce output in a UNIX long represention, in simpler terms we won't just get the name of the file but also be shown the permissions among other details.<br><br>
             
             The command that we are going to run is <b>ls -la</b>   (most terminals accept EITHER ls -la OR ls -al).
        
             If you want to learn more about the ls function, <a href = "http://https://opensource.com/article/18/10/ls-command">this</a> is a good resource<br><br>
                  
             The file '.hidden' is very intriguing, and infact when we print the contents of the file we are presented with the SSH password we came for.
                  
             
             
           
              </p>
           
              
               <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>
      
        </div>
        
          <div class = "first-exploit-episode-text-p5 page-text-f imppy5">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
        
        
 <div class = "slide-title-class-b">
     
         {% load static %}
                <div class="iframe-dest6"> </div>
              
<h3>Bandit 4 ->5 </h3>
     
     We could just dive in like animals and start printing every file but we are better than that.<br><br>
     
     Instead we are going to use a nicer solution that would also scale well if there were many more files<br><br>
     
     We're going to be utilising another new command, the <b>du</b> command.<br><br>
     
     As with the other commands you learn, it's useful to type man du to get a rundown on what the command is all about.<br><br>
     
     du (disk usage) can be used to check the information of disk usage of files and directories on a machine, we are particularliy interested in du's ability to differentiate 'data' and human readable ASCII text.<br><br>
     
     To do this we type: du -h | file ./*<br><br>
     
     remember from bandit1 that ./ means 'run from this directory', and adding the * means we interate through all files.<br><br>
     
     Once running the command, we see that only one file containing ACSII text has been identified.<br><br>
     
     The file also contains another annoying dash, so we are going to have to use './' to provide the exact location of the file to the cat command before we print it.<br><br>
     
     printing the contents of the file, we see it contains another '' SSH token: koReBOKuIDDepwhWk7jZC0RTdopnAYKh
     


    </div>
              <p class = "text95">
            
              </p>
           
              
               <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>
      
        </div>
        
         <div class = "first-exploit-episode-text-p5 page-text-f imppy5">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
        
        
 <div class = "slide-title-class-b">
     
         {% load static %}
                <div class="iframe-dest6"> </div>
              
<h3>Bandit 5 ->6 </h3>
     
     We could just dive in like animals and start printing every file but we are better than that.<br><br>
     
     Instead we are going to use a nicer solution that would also scale well if there were many more files<br><br>
     
     We're going to be utilising another new command, the <b>du</b> command.<br><br>
     
     As with the other commands you learn, it's useful to type man du to get a rundown on what the command is all about.<br><br>
     
     du (disk usage) can be used to check the information of disk usage of files and directories on a machine, we are particularliy interested in du's ability to differentiate 'data' and human readable ASCII text.<br><br>
     
     To do this we type: du -h | file ./*<br><br>
     
     remember from bandit1 that ./ means 'run from this directory', and adding the * means we interate through all files.<br><br>
     
     Once running the command, we see that only one file containing ACSII text has been identified.<br><br>
     
     The file also contains another annoying dash, so we are going to have to use './' to provide the exact location of the file to the cat command before we print it.<br><br>
     
     printing the contents of the file, we see it contains another '' SSH token:
     


    </div>
              <p class = "text95">
            
              </p>
           
              
        </div>
        
    </div>
    <div class = "episode-elipses-holer">
    <h4>
    <i class="fas fa-circle ep-slipse ep-slipse-active"></i><i class="fas fa-circle ep-slipse"></i><i class="fas fa-circle ep-slipse"></i><i class="fas fa-circle ep-slipse"></i><i class="fas fa-circle ep-slipse"></i></h4>
    </div>
    </div>
    
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    
    pageList = document.getElementsByClassName("page-text-i");
    elipsesList = document.getElementsByClassName("ep-slipse");
    elipIndex = 0;
    
    var contentsFull = true;
    
    
    
    for(i=1;i<pageList.length;i++){
        $(pageList[i]).hide();
    }
   var pageIndex = 0;
    var ep1Index = 0;
    var currentIndex = [pageIndex];
    
    $(".first-exploit-episode-text-p2").hide();
    
    $(".next-page-arrow").on("click",function(){
        
        goToNextPage(ep1Index);
       
        
    });
    
      $(".last-page-arrow").on("click",function(){
        
        goToLastPage(ep1Index);
       
        
    });
    
    function goToNextPage(){
        
         $(elipsesList[elipIndex]).removeClass("ep-slipse-active");
        
        elipIndex++;
        $(elipsesList[elipIndex]).addClass("ep-slipse-active");
        
         $(pageList[currentIndex[0]]).hide();
        
        currentIndex[0]++;
        $(pageList[currentIndex[0]]).show();
        
    }
    
     function goToLastPage(){
         $(elipsesList[elipIndex]).removeClass("ep-slipse-active");
        
        elipIndex--;
        $(elipsesList[elipIndex]).addClass("ep-slipse-active");
        
         $(pageList[currentIndex[0]]).hide();
        
        currentIndex[0]--;
        $(pageList[currentIndex[0]]).show();
         
    }
   
    
    $(".first-exploit-episode-text").hide();
      $(".ublog-overview-text").hide();
    

    
    
    $(".episode-contents-item").on("click",function(){
        
        $(".contents-active").removeClass("contents-active");
        $(".contents-active-text").removeClass("contents-active-text");
    $(this).addClass('contents-active');
        $(this).find("h4").addClass('contents-active-text');
        
        
        if($(this).attr('id') == 'ublog-first'){
           
             makeActiveText($(".first-exploit-episode-text"));
              pageList = document.getElementsByClassName("page-text-f");
            currentIndex[0] = ep1Index;
             for(i=0;i<pageList.length;i++){
        $(pageList[i]).hide();
                 
    }
             $(pageList[ep1Index]).show();
           $(".episode-elipses-holer").css("display","block"); 
            
        }
        
        if($(this).attr('id') == 'ublog-intro'){
            
            makeActiveText($(".ublog-intro-text"));
            $(".episode-elipses-holer").css("display","none");
           
            
            
        }
        
        if($(this).attr('id') == 'ublog-overview'){
           makeActiveText($(".ublog-overview-text"));
            $(".episode-elipses-holer").css("display","none");
        }
        
        
       
    });
    
    
    $("#open-blog-sign-up").on("click",function(){
        var url = "/ublog_vuln_1_link";
 window.open(url, '_blank');
    });
    
    function makeActiveText(make_active){ 
         $(".text-active").hide();
             $(".text-active").removeClass("text-active");
        make_active.fadeIn();
        make_active.addClass("text-active");
        
    }
    var not_run = true;
    var not_run2 = true;
    var not_run3 = true;
      var not_run4 = true;
     var not_run5 = true;
     var not_run6 = true;
    
    $(".imppy").on("mouseover",function(){
       if(not_run){
          not_run = false;
           $(".iframe-dest").html(" <iframe src = '/sshiframe' class = 'ssh-frame'></iframe>");
          }
    });
    
     $(".imppy2").on("mouseover",function(){
       if(not_run2){
          not_run2 = false;
           $(".iframe-dest2").html(" <iframe src = '/b0frame' class = 'ssh-frame-s'></iframe>");
          }
    });
    
     $(".imppy3").on("mouseover",function(){
       if(not_run3){
          not_run3 = false;
           $(".iframe-dest3").html(" <iframe src = '/b1frame' class = 'ssh-frame-s'></iframe>");
          }
    });
    
     $(".imppy4").on("mouseover",function(){
       if(not_run4){
          not_run4 = false;
           $(".iframe-dest4").html(" <iframe src = '/b2frame' class = 'ssh-frame-s'></iframe>");
          }
    });
    
    
     $(".imppy5").on("mouseover",function(){
       if(not_run5){
          not_run5 = false;
           $(".iframe-dest5").html(" <iframe src = '/b3frame' class = 'ssh-frame-m'></iframe>");
          }
    });
    
     $(".imppy6").on("mouseover",function(){
       if(not_run6){
          not_run6 = false;
           $(".iframe-dest6").html(" <iframe src = '/b4frame' class = 'ssh-frame-m'></iframe>");
          }
    });
    
    
    /*
    The first line you need to type into your terminal is: <br><br>

ssh bandit0@bandit.labs.overthewire.org -p 2220<br>

You should recieve a prompt asking you to input the username and then password, both are bandit0.

    most of the generic ways that computers interact are covered.

cryptology
web application security.
programme flaws such as buffer overflows.

If you are pretty new to this, I reccomend you start off at Bandit.

This is probably the only level I'd say there is merit to only going through the walkthorugh and not completeing your.

Bandit covers the knowledge necessary to complete the later levels' so it's fine to whizz through just to check you are up to scratch.

try nto to fall itno bad habits. You might not realise it at the time, but if you actually work through the problems yourself and take the time to understand what you yourself are doing, then the knowledge will stick a lot better.

either find information held within the account, or find the means to exploit the application so that we can migrate to antoher user account, specifically the one that represents the next level.
    
The place that your commands are sent to The application that you are controlling, is determined by the host and port number that you have provided.
     A nice solution to this is to consider the space a 'special character' and in fact the bash shell responds quite desirably under this paradigm.
    */
    
    
    
</script>

{% endblock %}

