{% extends 'sadawesome.html'%}
{% block secstands-p1 %}

   <div class= "blue-cov">
            <h3>The Importance of Standards</h3> <br><br>
                        
                               </div>
            


 <div class = "slide-in">
             Was that standards where not adhererd to, the application has been published without checking that they haveadhered to the standards set forth by Django (as well as the Twitter API)
             
             We spoke about how much time and effort is put in to developing standards. There is a reason for this. 
             
             Code is easier to maintain, especially when responsibility has been re-allocated to a developer who was not involved in production.
             Code can be distrubuted much more easily.
             
             Most applications - I'd be extremely confident that any complex will have a vulnerability or code problem somewhere. So dont kid yourself and keep that in mind.
             
             When you do <b>inevitably</b> find an error in your application code. If your methods and your code is already standardised, then you have a good chance of being able to solve your problem in a standardised way.
             
             You might think 'oh well my code is so shambolic and random that nobody is going to be able to understand this and exploit this'.
             
             Well on the behaviour of your application rather than it's genetics. 
             
             Even if the mistake does not show subtle signs on the surface, and the error is hiding away in your source code, I think you are underestimating the persistant nature of bored Swedish kids. Trust me, one of them has enough time.
             
             Another laughable mindset (laughable because it's moronic and laughable because it's widespread) is 'I'm' the only person who is going to use my application, So i'm not worried about security implications.
             
             
             
             That's hardly a way to tackle web developement. Building secure web applications is hard, I understand why people may think this.
             
             This is probably the most annoying philosophy, not just because it's extremely stupid but basically Ive just lost a lot of respect for you, as I don't think you have much respect for yourself or pride in your work. <br><br>
             
             
             If you're not worried because your application is worthless, then don't bother, simply don't bother uploading it. Create an offline applciation instead and do what you want. My personal opinion is that once you upload a web aplpciation for public use, you have not just a legal obligation but also <b>moral obligation</b> to ensure that it is safe and secure.<br><br>
        </div>   

{% endblock %}

{% block secstands-p2 %}

  
             I would compare this to leaving a landmine in a patch of unused woodland under the justification of 'well nobody comes down here much'. If you want a landmine for personal use then keep it on your private property. If someone genuinely believed there was a 0% chance that someone else will access this area then I personally think that is acceptable behaviour. 
             
             And I hope now you can understand why I think so little of that justification.
             
             When I conduct penetration. Many Many Many Many grueling times. I always. of people finding vulnerabilities here and there. within 5 minutes they are offto boast on their favourite forum, enjoy the 5 minutes of fame, hate themsleves a little less for 5 minutes, then off to do the same. Well you're stuck there, and you're never going to improve. Maybe you feel cool at 15 when you, but do you feel just as cool when you're 40 and you still spend the majority of your time on the same forums chatting about exploits with 15 year olds?
             
             It's the same with web developent. Most of this article was written on an airplane suffering from terrible turbulance, perhaps I am deffering. 
             
             So I want to make clear I don't disrespect you for taking the time, It would jsut be so dissapointing for you to stop here, you have put in a lot of effort, and you may as well finish the job well, be prepared to study if you dont know how to do the final things, be dedicated to push yourself furthere and learn new skills. Most importantly so you can have pride in your work.
             
             Realsie that lots of people get passionate about projects and then by the end the passion is gone. Those people didnt make it far
     
             
                     about to see...May be a trivial example, but  you'd be very surprised what kind of shortcuts people are willing to take to make things work, I think people are quite commonly under the impression that if nobody is going to thoroghly review the code they are writing that the problem won't come to the surface, there are many ways to make something work, but this doesnt mean you've made it work well.  <br><br>
             
              so high customisability is great, but just because your application works does not mean it works as intended.
             
             When I make something work in a way perhaps nobody else has before, I'm probably my most proud. I'd say us in the software engineering community are probably pretty prone to this. But this is very wrong and very dangerous! While you are celebrating that you've finally found a work around and your application finally provides, that you've essentially left the door open to get absolutely screwed. 
             
             
             
             
             I think we all see how this would be mnorally incorrect. Someone who did this may give two different excuses: 'I reasonably thought I was the only person who could possibly access this area' vs 'I didnt think someone else would ever choose to come here' although they appear similar, there are huge differences between these two justifications. This is a miscalculation, whether the location was public or private land would have a big influence. 
             
             The excuse of I didnt think someone else would ever choose to come here is extremely ignorant.
             
             Do what you want at your house but there are rules for a reason. 
             
    
             
             These are two. Once you upload an application to the web, that is in the public domain.
             
             
             
             Security through obscurity doesn't work. 
             






{% endblock %}