{% extends 'melonCoveredSliderBase.html' %}



{% block slide_1_block %}

<a href="#" class="news__item" id = "abcdff">
          <div class="news-date">
            <span class="news-date__title">Welcome</span>
            <span class="news-date__txt"> Welocome To Melon Tutorials</span>
          </div>
          <div class="news__title">
           abcde test
          </div>

          <p class="news__txt">
            Tom shows how to perform a man in the middle attack on HID readers using a Raspberry Pi and open source software.
          </p>

          <div class="news__img">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1537132205/news-slider/item-2.jpg" alt="news">
          </div>
        </a>

{% endblock %}



{% block slide_2_block %}

<a href="#" class="news__item" id = "abcdff">
          <div class="news-date">
            <span class="news-date__title">Hacking RFID Access Controls</span>
            <span class="news-date__txt">Tutorials: Physical Access Security</span>
          </div>
          <div class="news__title">
            Part 3 - The Duke
          </div>

          <p class="news__txt">
            Tom shows how to perform a man in the middle attack on HID readers using a Raspberry Pi and open source software.
          </p>

          <div class="news__img">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1537132205/news-slider/item-2.jpg" alt="news">
          </div>
        </a>
{% endblock %}