{% extends 'melon-slider.html'%}
{% block above_slider %}

<style>

    .right-choices{
        float:right;
        margin-right:10px;;
        width:50px;
        height:75px;
      
        
    }
    
    .righty{
        float:right;
    }
    
    .lefty{
        float:left;
    }
</style>

<div class = "right-choices">
    <h1>
        <i class="fas fa-grip-horizontal righty"></i></h1>
   
</div>
<h2> &nbsp; &nbsp;Tutorials </h2>


{% endblock %}

{% block slide_1_block %}

 <div class="news-slider__item swiper-slide">

<span href="#" class="news__item" id = "abcdffu">
          <div class="news-date">
            <span class="news-date__title">MelonSec Tutorials</span>
               <span class="news-date__txt"></span>
        
          </div>
          

          <p>
            
         	
          </p>

          <div class="news__img">
              {% load static %}
            <img src="{% static 'photos/ninja.png' %}" alt="news">
          </div>
        </span>

</div>

{% endblock %}


{% block slide_3_block %}

 <div class="news-slider__item swiper-slide web-pen-slide">

<a href="/tutorials/ublog" class="news__item" id = "abcdffu">
    
        
    <div class = "lefty">
        
        
        
         <div class="news-date fixed-wid-1">
            <span class="news-date__title">Web Penetration Testing </span>
               <span class="news-date__txt">Tutorials</span>
        
          </div>
        
          <div class="news__img fixed-wid-1">
              {% load static %}
            <img src="{% static 'photos/ninja.png' %}" alt="news">
          </div>
        
         <div class = "tutorial-ratings">
        <h6 >Difficulty: <span style = "color:orange;">medium</span> &nbsp;&nbsp;&nbsp;<b>Pace:</b> <span style = "color:orange;">short and quick</span></h6>
        </div>
            
    
    </div>
         
    
    
    
   
          <h3 class = "righty fixed-wid right-title"> About The Course </h3>

          <p   class = "justy news__txt righty fixed-wid">
            The Web Application Penetration Testing series teaches you how to learn the fundamentals of *white hat* web application hacking. The tutorials cover setting up your penetration testing environmnet, how to find common web application vulnerabilities, and how to disclose them in a way that benefits you the most.
              
         	
          </p>
    
     <div class ="cleario"></div>

         
         
          

       

         
        </a>
     
</div>
{% endblock %}

{% block slide_2_block %}


       <div class="news-slider__item swiper-slide slide-4 how-not-to-slide mincho">


<a href="/overthewire" class="news__item" id = "abcdff">
    
     <div class="righty">
            <h3 class = " news__txt righty fixed-wid right-title bld"> About The Course </h3>

          <p class = "news__txt fixed-wid justy">
           Over The Wire’ is my favourite brand of online capture-the-flag style wargames, the flags are represented by a password stored somewhere on the current level that can be used to log into the next level.<br><br>

Currently over the wire offers 12 online games, and 4 downloadable games, more than enough to keep a you entertained for a while.<br><br>

The games cover a range topics, from simple things like navigating directories and files on a remote server, to exploiting common web vulnerabilities, Buffer Overflows and much much more.
     

         
         
       
    </div>
    <div class = "lefty news__txt lefter-text">
        
         <div class="news-date fixed-wid-1">
            <span class="news-date__title mincho">Over The Wire Walkthrough</span>
            <span class="news-date__txt mincho"> Solutions to my favourite online wargames. </span>
          </div>
        
       
        
         <div class="news__img fixed-wid-1">
              {% load static %}
            <img src="{% static 'photos/otw.jpg' %}" alt="news">
          </div>
        
      
        <div class = "tutorial-ratings">
        <h6 ><b>Difficulty: </b><span style = "color:green;">easy</span> &nbsp;&nbsp;&nbsp;<b>Pace:</b> <span style = "color:orange;">mixed</span></h6>
        </div>
            
    
    </div>
         
   
    
    <div class ="cleario"></div>
     </a>

</div>
{% endblock %}