{% extends 'melon-page.html'%}
{% block page_insert %}


<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Jura" />


<style>
    
    {% load static %}
    
    body{
        
         font-family: "jura",sans-serif;
    }
    p{
         color:#2E2B54;
         font-family: "jura",sans-serif;
        padding:20px;
    }
    
    h4{
        color:#2E2B54;
         font-family: "jura",sans-serif;
       padding-left:20px; 
    }
    
        .blue-cov{
        padding:30px;
    position:relative;
    width:100%;
 
  
    background-color: #7A9E7E;
        
        color:white;
            padding-bottom:1px;
            padding-top:1px;
    }
    
    .blueee{
        color:#40798C;
        font-weight: 900;
        font-size: 120%;
    }
    
   
    
    
       
    
    @import url('https://fonts.googleapis.com/css?family=Roboto');
.bbody {
    padding-top:30px;
    position:relative;
    width:100%;
    min-height:400px;
    max-height:400px;
    color:2E2B54;
    background-color: #7A9E7E; overflow: hidden;  -webkit-font-smoothing: antialiased; margin: 0;}
.flex { display: -webkit-flex; display: flex; -webkit-flex-direction: row;  flex-direction: row; -webkit-justify-content: flex-start; justify-content: flex-start;}

.slider-wrapper div {position: relative;}
.slider-wrapper {margin-top: 5vw;  margin-left: 30px;}
.slide-image {height: 200px; }
.slide-image img {width: 300px; cursor: pointer;}
.slide-content {width: 500px; color: #fff; padding:0; padding-left:20px; margin-right:50px; margin-top:-25px; }
    .slide-content-l {width: 900px; color: #fff; padding:0; padding-left:20px; margin-right:50px; margin-top:-25px;}
.slide-date {color: #0a8acb; font-size: 1.1vw; font-weight: 400; letter-spacing: 0.1vw; padding-bottom: 1.4vw;}
.slide-title {font-size: 1.2vw; font-weight: 400; letter-spacing: 0.1vw; line-height: 1.55vw; padding-bottom: 1.8vw;}
.slide-text {font-size: 1.2vw; line-height: 1.2vw; opacity: 0.8; padding-bottom: 4vw;}
.slide-more {font-weight: 400; letter-spacing: 0.1vw; float: left; font-size: 0.9vw;}
.slide-bullet {width: 0.5vw; height: 0.5vw; background-color: #0b8bcc; border-radius: 200%; position: relative; margin-left: 1.2vw;}
.slide-nav {margin-left: 64vw; margin-top: -5.5vw;}

div.overlay-blue {width: 100%; height: 100%; position: absolute; top: 0; transition: 0.5s ease all;}
div.overlay-blue:hover {background-color: rgba(13, 27, 43, 0.5);}

.arrows{width: 3.5vw; position:absolute; bottom:50px; right:50px;}
.arrow {display: inline-block; position: absolute; width: 1.2vw; height: 1.2vw; background: transparent; text-indent: -9999px; border-top: 0.15vw solid #fff; border-left: 0.15vw solid #fff; transition: all .1s ease-in-out; text-decoration: none; color: transparent;
}
.arrow:hover {border-color: #0A8ACB; border-width: 0.25vw;
}
.arrow:before {display: block; height: 200%; width: 200%; margin-left: -50%; margin-top: -50%; content: ""; transform: rotate(45deg);}
.arrow.prev {transform: rotate(-45deg); left: 0;}
.arrow.next {transform: rotate(135deg); right: 0;}
    
    
    

.slider-wrapper2 div {position: relative;}
.slider-wrapper2 {margin-top: 5vw;  margin-left: 30px;}
.slide-image2 {height: 200px; }
.slide-image2 img {width: 300px; cursor: pointer;}
.slide-content2 {width: 600px; color: #fff; padding:0; padding-left:20px; margin-right:50px; margin-top:-25px;}
.slide-content-l {width: 900px; color: #fff; padding:0; padding-left:20px; margin-right:50px; margin-top:-25px;}
.slide-date2 {color: #0a8acb; font-size: 1.1vw; font-weight: 400; letter-spacing: 0.1vw; padding-bottom: 1.4vw;}
.slide-title2 {font-size: 1.2vw; font-weight: 400; letter-spacing: 0.1vw; line-height: 1.55vw; padding-bottom: 1.8vw;}
.slide-text2 {font-size: 1.1vw; line-height: 1.2vw; opacity: 0.8; padding-bottom: 4vw;}
.slide-more2 {font-weight: 400; letter-spacing: 0.1vw; float: left; font-size: 0.9vw;}
.slide-bullet2 {width: 0.5vw; height: 0.5vw; background-color: #0b8bcc; border-radius: 200%; position: relative; margin-left: 1.2vw;}
.slide-nav2 {margin-left: 64vw; margin-top: -5.5vw;}

div.overlay-blue2 {width: 100%; height: 100%; position: absolute; top: 0; transition: 0.5s ease all;}
div.overlay-blue2:hover {background-color: rgba(13, 27, 43, 0.5);}


    
    h1{
        color:#2E2B54;
         font-family: "jura",sans-serif;
    }
     h2{
        color:#2E2B54;
         font-family: "jura",sans-serif;
    }
     h3{
        color:#2E2B54;
         font-family: "jura",sans-serif;
    }
    
     h4{
        color:#2E2B54;
         font-family: "jura",sans-serif;
    }
    
     h5{
        color:#2E2B54;
         font-family: "jura",sans-serif;
    }
    
    
    .jura{
         font-family: "jura",sans-serif;
    }
    .content-viewer{
        float:left;
        width:30%;
    padding:0;
        height:635px;
  
        
        
    }
    
    .content-viewer-a{
        background-color: white;
        float:left;
        width:100%;
        
        padding-left:10px;
        border-radius:8px;
        height:640px;
    }
    
     .episode-text{
        float:right;
         width:70%;
   
         max-height:650px;
          color:#2E2B54;
    
         height:700px;
    }
    
    .episode-contents-item{
        height:75px;
        width:69%;
        color:#2E2B54;
        border-style: solid;
        border-width: 0 0 2px 0;
        border-color:black;
        padding-top:10px;
    }
    
 
    
    .episode-elipses-holer{
        width:400px;
        height:50px;
   
        position:fixed;
        margin-top:15px;
        margin-left:250px;
        display: none;
        bottom:40px;
        
    }
    
    .ep-slipse{
        margin-left:10px;
    }
    
    .ep-slipse-active{
        margin-left:10px;
        font-size:150%;
        position:relative;
        color:#0E5DC4;
    }
    
    
    
    border-width: 0 0 2px 0;
        border-style:solid;
        margin-bottom:30px;
    }
    
    .episode-contents-item:hover{
        cursor:pointer;
    }
    
    .contents-active{
        border-color: lawngreen;
        font-size:150%;
        font-weight: 800;
        width:90%;
         border-width: 0 0 4px 0;
        height:85px;
    }
    
     .mincho{
        font-family: "jura",sans-serif;
    }
    
     .contents-active-text{
        color:#2E2B54;
        font-size:130%;
        font-weight: 800;
         text-align: left;
         
      
    }
    
    .marged-header{
        margin-bottom:35px;
    }
    
    .link{
	color: #000000;
	font-size: 16px;
	font-weight: 900;

	text-decoration: none;
    position: relative;
	z-index: 1;
	display: inline-flex;
	
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;

}

/*
* These styles creates the underlining of link
*/
    .link:hover{
        text-decoration: none;
    }
.link::before{
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, #7A9E7E 25%, transparent 40%);
	
	position: absolute;
	left: 0;
	bottom: 2px;
	z-index: -1;
	
	will-change: width;
	transform: rotate(-2deg);
	transform-origin: left bottom
}

.link:hover::before{
	width: 0;
}

/*
* animation styles
*/

.link::before{
	transition: width .1s ease-out;
}

.link:hover::before{
	transition-duration: .15s;
}
    
    .next-page-arrow{
       
       
      
        margin-left:10px;
        font-size:300%;
         color:#7A9E7E;
        bottom:0;
        min-width:20px;
        min-height: 20px;
         position:absolute;
        bottom:20px;
       right:10px;
        z-index:999999999999999999999999999999;
        
    }
    
    .next-page-arrow2{
    
        font-size:300%;
         color:white;
    
        min-width:20px;
        min-height: 20px;
         position:absolute;
        bottom:10px;
       right:10px;
    }
    
     .last-page-arrow{
       
       
        
        margin-left:-60px;
        font-size:300%;
        color:#7A9E7E;
       position:absolute;
          min-width:20px;
        min-height: 20px;
          bottom:20px;
         left:100px;
      
        
    }
    
    
    .first-exploit-episode-text{
        color:#2E2B54;
    }
    
    .NY{
        opacity:0.1;
    }
    
    .content-holding{

        max-height:650px;
        overflow-y: scroll;
        padding:0;
        
    }
    
    
    
 
    

</style>


<div class = "content-viewer">
    
    <div class="content-viewer-a">
    <div class = "episode-contents-item contents-active" id = "ublog-intro"><h4 class = "contents-active-text">1. Introduction</h4></div>
     <div class = "episode-contents-item" id = "ublog-overview"><h4>2. Ublog Overview</h4></div>
    <div class = "episode-contents-item" id = "ublog-first"><h4>3. First Exploit.</h4><h6>Exploiting Authentication Control Logic</h6></div>
     <div class = "episode-contents-item nY"><h4>4. Virtual Defacement</h4><h6>HTML Parameter Pollution</h6></div>
    <div class = "episode-contents-item NY"><h4>5. Cross-Site Scripting</h4><h6>Exploiting Access Control Logic</h6></div>
    <div class = "episode-contents-item NY"><h4>6. XS Request Forgery</h4><h6>Exploiting Access Control Logic</h6></div>
    <div class = "episode-contents-item NY"><h4>7. Parameter Pollution</h4><h6>tet text tet</h6></div>
</div>


</div>

<div class = "episode-text">
    
       <div class = "ublog-intro-text text-active righter-page">
           
           
           <div class="bbody mincho">
                    
                    
                  <div class="slider">
                       <h1 class="mincho" style= "position: absolute; margin-top:-80px; margin-left:40px; font-weight:900;"><b>Welcome To The Ublog Web Pen Testing Tutorials</b></h1>
<div class="slider-wrapper flex">
	<div class="slide flex">
		<div class="slide-image slider-link prev"><img src="{% static 'photos/ninja.png' %}" style = "width:300px; height:200px; background-size:cover;"><div class="overlay"></div></div>
		<div class="slide-content mincho">
			<div class="slide-date">Introduction</div>
	
			<div class="slide-text s110 mincho" style="color:#2E2B54;"> The Web Application Penetration Testing series teaches you how to learn the fundamentals of white hat web application hacking. <br><br>The tutorials cover 3 main aspects: setting up your penetration testing environmnet, how to find common web application vulnerabilities, and how to disclose them in a way that benefits you the most.<br><br>Theoretical Exploits are demonstrated on the Ublog Web Application, a Blogging Platform that is littered with common web vulnerabilities.
</div>
			
		</div>	
	</div>
	<div class="slide flex">
		<div class="slide-image slider-link next"><img src="{% static 'photos/goal-setting.jpg' %}" style = "width:300px; height:200px; background-size:cover;"><div class="overlay"></div></div>
		<div class="slide-content">
			<div class="slide-date">The General Goal</div>
			
			<div class="slide-text s110">  
             Ublog is a real world web-application that has been hikacked and is now a playground to demonstrate and test cyber security flaws and exploits.<br><br>
             
             Theoretical attacks are much easier to pictute when given a real world example - this is the exact, rather than generic examples exploits will be demonstrated in relevant environments where the consequences and actions are much easier to see and understand. </div>
			
		</div>	
	</div>	
	<div class="slide flex">
		<div class="slide-image slider-link next">     <iframe src = "/landscape" class = "landscape-frame" style = "width:300px; height:200px; "></iframe><div class="overlay"></div></div>
		<div class="slide-content">
			<div class="slide-date">——  Disclaimer ——</div>
			
			<div class="slide-text s110 mincho">I fully appreciate that a big part of learning is exploring and experimenting and trying out different things, but unfortunately the platform is not capable of being a full out playground, please respect the platform and other users!
                
No aspect of these or future UBlog tutorials will require breaking the law to complete, but you need to show some self initiative, Just like with most actions in life, when you are just setting out learning and practicing your penetration testing skills It’s your own decision to decide what is ethical, and it’s your own responsibility to ensure what you are doing is legal.
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
I give you full permission, and if you are really annoyed you wanted to practice some skills that this site doesnt allow then let em know and I always try to respond swiftly.

The cyber industry is expanding mahousively, If you are really interested in something then the chances are other people are too, more often than not someone has had this idea too and the resource is out there. 

If thats not the case well then great! let me know and we will see what we can make.
    
A list of some good sites for alternative pen testing are below:

If you want some sites to practice scripting etc:</div>
		
		</div>	
	</div>
		
</div>
<div class="arrows">
<a href="#" title="Previous" class="arrow slider-link prev"></a>
<a href="#" title="Next" class="arrow slider-link next"></a>
</div>
</div>
                    
                    </div>
           
           
        
               
               </div>
    
    
    
    <div class = "ublog-overview-text jura">
        
        <div class= "blue-cov">
            <h2>Ublog — <span style="font-size: 70%;">where the elite of society go to get away from the grievances <br>that come with using social media alongside commoners. </span></h2>
        </div>
            <h4>What Is The Purpose of The Ublog?</h4>
         <p>
             
             Ublog is a real world web-application that has been hikacked and is now a playground to demonstrate and test cyber security flaws and exploits.
             
             Theoretical attacks are much easeir to pictute when given a real world example - this is the exact, rather than generic examples exploits will be demonstrated in relevant environments where the consequences and actions are much easier to see and understand.
             
               </p>
        
         
            <h4>What Is The Ublog Application?</h4>
         <p>
             
        

Ublog is centered around covert social media advertising. Instead of paying for advertising space, companies come to Ublog to give away free products to members who will share them with their social media audience.

Awards are given depending on how many followers a user has across their social media accounts.
             
             Business Accounts also exist where companies can create offers, as well as interact with social media influencers.
             
        </p>
        
    </div>
    
    <div class = "first-exploit-episode-text jura">
         
        <div class = "first-exploit-episode-text-p1 page-text-f">
            
            <div class= "blue-cov">
<div class = "slide-title-class">
  <h1>First Exploit: Flawed Authentication Logic</h1>
<h4 class = "marged-header">Bypassing Ublog sign up restrictions using HTTP Parameter Pollution</h4>
    </div>
                </div> 
<p>

    <br>
    
    Throughout the following tutorials we are going to exploit several common vulnerabilities in order to take control of the majority of the funcitons on the UBlog platform. <br><br>
    
    An important aspect of these tutorials is having access to a blogger account that we can control.

Fittingly, the first vulnerability is based around exploiting the applications sign up logic in order to allow us to by-pass the websites validation mechanisms so that we can create accounts freely without needing to have the 10 000 followers as the site advertises.<br><br>
    
  
    
Lets open up the create a blogger account page in another tab: <a href="#" class="link" id = "open-blog-sign-up"><b>Click Here</b></a> <br> <br>
    
    
    Fill out the first page with basic information. <br><br>If you’re embarrassed by your own name and don’t want to use it then don’t worry, dummy values are fine. <b>Just make sure you remember your username and password.<br><br></b>



  

Hopefully you’ve progressed nicely to the second stage in creating a UBlog Blogging account.

This is where we are expected to link to an account with 10 000 followers.<br><br>

    <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>
    

</p>
           
    </div>
        
        
        
        <div class = "first-exploit-episode-text-p2 page-text-f">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
            <div class= "blue-cov">
            
           
            
            <h3>Testing The Water</h3>
                
            </div>
            
            
            <p><br>
                
                
                Firstly, lets see what happens when we try to log on with no accounts linked. We're greeted with an annoying message page displaying both 'Verification' and 'Friendless' Errors.<br><br>
                
                Our next goal is to link to a valid social media account with less than the 10 000 required followers, and we'll see how the site responds.<br><br>
                
                Creating a 'throw-away account' on Twitter would take a few minutes most people don't have time for, so for that reason you will see a third social media icon, with a nice picture of a melon. If you click on this icon, you will be linked to a Twitter account that has 1 follower.<br><br>
                
            This does save us the bother of having to link an actual Twitter account, however the account isnt allowed in by the ublog verification system since we havent got more than the 10 000 follower limit. Lets see what happens when we try to progress by hitting 'verify'<br><br>
            
            Again we are greeted by a similar screen, but as expected the 'Verification Error' has dissappeared.<br><br>
            </p>
                     
                <br class = "Don't worry, To find an exploit here we're not going to use any complicated or fancy analysis techniques."><br>
        
            

            
             <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>
            
        </div>
        
         <div class = "first-exploit-episode-text-p3 page-text-f">
               <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
             <div class= "blue-cov">
           <h3> HTTP Parameters. </h3><br><br>
             </div><br><p>
            [insert quick definition]
            
            might recognise them: <span class= "blueee">ublog/finduser?name=john?age=12.</span> <br><br>
             
            The sign up form for Ublog runs off the Django framework. The django framework allows, offers high level of security, one of it's strengths, it's high customisability is also a weakness, imprpoer, a we are about to see.
            
             Django offers multiple types of paramater handling, in this instance the paramaters are handled seperated by the '/' in the same was as other componentsin the URL and are then unpacked by the back end.<br><br>
            
             example: <span class= "blueee">ublog/finduser/john/12 </span><br><br>
             
            I chose this as it's easier for us to talk about the urls and deconstruct them with the naked eye, but the fundamental concepts are the similar in both cases.<br><br>
             
            We've tried to create a Ublog account twice, lets see at the URLs that were generated:<br><br>
             
             When we logged in with no account linked: <span class= "blueee"><b>ublog/addSocial/addTwitter/N_A/</b></span><br>
             
             When we logged in with 1 follower: <span class= "blueee"><b>ublog/addSocial/addTwitter/melon/</b> </span><br><br>
             
             We can see quite clearly that ublog/addTwitter relates to the action we want to take. <b>melon</b> is the twitterID assigned to the account with one follower, if you'd linked your own Twitter account, you'd be seeing your own Twitter handle here.<br><br>
            
             
             
             
             
             
             
              
            </p>
              <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>
            
        </div>
        
        
         <div class = "first-exploit-episode-text-p4 page-text-f">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
                 <div class= "blue-cov">   
            <h3>HTTP Paramater Manipulation </h3> <br><br>
             </div><br>
             <p>
          
lets see what happens when we input the Twitter of an account that we don't own.<br><br>
             
              I've decided to impersonate Ellen Degeneress, as I thought we shared the most physical likeness out of the top 10 followed people on Twitter as of writing.<br><br>
                  
                    
                    <span style = "text-decoration: line-through;">> <b>Here</b> is a list of some others that have more than 10 000 followers.</span> The UBlog-TwitterAPI is down - you HAVE to be Ellen.
                    <br><br>
             
             so lets switch the value of our Twitter ID with Ellen Degeneress', the request becomes:<br><br>
             
             ublog/addTwitter/melon --> ublog/addTwitter/TheEllenShow<br><br>
             
    
..It looks like there is some kind of internal mechanism to check that the account has been previously verified.<br><br>

In reality I know this is true, the site holds the values of authenticated social media accounts in a session variable. (We will look at how we could attack this feature more when we come to sessions and server-side controls).

</p>

  <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>

        </div>
        
        
         <div class = "first-exploit-episode-text-p4 page-text-f">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
                 <div class= "blue-cov">   
            <h3>Recap So Far </h3> <br><br>
             </div><br>
             <p>
         about to see...May be a trivial example, but  you'd be very surprised what kind of shortcuts people are willing to take to make things work, I think people are quite commonly under the impression that if nobody is going to thoroghly review the code they are writing that the problem won't come to the surface, there are many ways to make something work, but this doesnt mean you've made it work well.  <br><br>

In reality I know this is true, the site has a (session variable) cookie that is passed from the Facebook API. (We will look at how we could attack this feature more when we come to sessions and server-side controls)
                 
                       tried logging in with nothing, then as lonely, then as ellen, but none worked individually.
                    
                    
            application developers may make functions that are useful purely during development, such as to retrieve database results quicker or to escalate the privalages of an account for some reason. I am definitely guilty of this. Sometimes the reasoning will be completely mental. maybe the function that processes a users password change is is failing in an unexplainable mannor, it is tempting to copy the code to another function that is working to see if the problem lies in the code or elsewhere, Once the author has seen if the code runs or fails when placed elsewhere she might be so excited or depressed at the outcome that she forgets to remove it.<br><br>

</p>

  <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>

        </div>
        
                <div class = "first-exploit-episode-text-p4 page-text-f">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
                    <div class= "blue-cov">
            <h3>HTTP Paramater Pollution </h3> <br><br>
                    </div><br>
           [definition....]<br><br>
            
      
                    
                     For example you could try finduser?name=john?age=12?password=newpassword. <br><br>
            
                    This is a pretty unlikely scenario, but these kind of needless and carelless vulnerabilities are littered all over many web applications. Finding mistakes and weakensses like these can be how you seperate yourself from the many other penetration testers useing standard tools and methadologies to find common bugs.<br><br>
            
            We are essentially just trying to get a feel for the website and see what behavhour we can make happen. To see how something behaves we need to stimulate and provoke it in every way possible, in high stakes web applciation bounty hunting, original ideas and out of the box thinking can be how you find a vulnerability that others have not. <br><br>
                    
                    The mostcommonly used tactic is to repeat the the same variable twice, and hope we can induce some unexpected results from the application. <br><br>
            
            
            
   

  <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>




        </div>
        
         
        
        
         <div class = "first-exploit-episode-text-p4 page-text-f">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
                    <div class= "blue-cov">
            <h3>HTTP Paramater Pollution Exploit - Part I </h3> 
             </div><br>
             
                      
So lets get to work at brute forcing the signup function.<br><br>
                    
                 
              In the ublog example, the variable we'd really love to manipulate is the value of TwitterID.<br><br>
              the last parameter. Can also be conidered as the parameter following <br><br>
             
             I'm going to send the request:<br><br>
             
             ublog/addfacebook/dummy1/dummy2<br><br>
             
             Error(s)<br><br>

You have not verified for the account (show account (or ID)) please verify using the ‘X-Tab’.<br><br>
No Account Found for ID = ‘VinnyD’ — please try resynchronising your social media accounts to the blog platform.<br><br>
                    
                    Interesting, very interesting…
             
            
                   
 

             
  <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>

        </div>
        
         <div class = "first-exploit-episode-text-p4 page-text-f">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
                    <div class= "blue-cov">
            <h3>HTTP Paramater pollution Exploit - Part II </h3> <br><br>
             </div>

The UBlog platform verified the account we are using was ours using the first parameter, and it queried Facebook for the number of followers using the second!<br><br>

             
             dummy1 =  account we own = <b>lonelymelon</b><br>
             dummy2 = popular account = <b>TheEllenShow</b><br>


Using the knowledge that Ublog refers to the first penultimate parameter when checking if we own the account, and then uses the final parameter to actually query facebook, Logically we want the first parameter to be the ID of the account we are linked to (Facebook0) and the second account to be the account ID of who we wished we were linked to! (I used blah blah). You can discard whatever value you chose as your penis.<br><br>

The original URL UBlog expected us to use (when we visited said page), and the one used in step 4 was:<br><br>

Ublog/linkmainaccount/1422032023223<br><br>

All thats left for us to do is to amend the ID of margerat thatcher to the end of this path:<br><br>

becoming:<br><br>

Ublog/linkmainaccount/1422032023223/1M1A1G1G1I1E1<br><br>

When we make a request to this URL we are greeted by the page:<br><br>

Congratulations! You a are officially a member.<br><br>

And we didn’t even have to leave the house and make more friends! Score.<br><br>







  <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>


        </div>
        
          
         <div class = "first-exploit-episode-text-p4 page-text-f">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
                    <div class= "blue-cov">
            <h3>HTTP Paramater pollution Exploit Summary </h3> <br><br>
                        
                          </div>
                        Logged in with no account linked.
                        Logged on with account with 1 follower.
                        Tried to log on as ED.
                        Logged on with two dummy values.
                        Switched the dummy values depending on the error messages we saw.
                        
                        show the code that led to it (read from start and end off array).
                        
                        
           
             
             
  <i class = "fas fa-arrow-alt-circle-right next-page-arrow"></i>
             
        </div>
        
         <div class = "first-exploit-episode-text-p4 page-text-f">
              <i class = "fas fa-arrow-alt-circle-left last-page-arrow"></i>
                    <div class= "blue-cov">
            <h3>HTTP Paramater pollution Exploit Review </h3> <br><br>
                        
                               </div>
                       
This would be a very silly developer view, 
<br><br>
             
             youcan see how they might be confident they had finished the work on the sign up process.
I used the Facebook API in a way that was unsafe and not at all as intended by the developers, although you may think most not this stupid you can certainly think again, this is a prevalent cause of web application vulnerabilities. <br><br>

(BA HACK link)
...for now I think this trend will only keep on growing.<br><br>

            is a very flexible framework:<br><br>
            
            you could easily implement a search in the form finduser-john-12 <br><br>
            
            The Django platform protects against this, in this case its a problem with a custom regular expression (see regex expressions), is an error which 
            
          

            
            
            
            
            Nowerdays, this is where web attack suites come into play.
            
            
            
            
        
So what exactly has happened?<br><br>

We verified

Sent it in an url.

                        
                        
      
             
        </div>
        
        
        
    </div>
    <div class = "episode-elipses-holer">
    <h4>
    <i class="fas fa-circle ep-slipse ep-slipse-active"></i><i class="fas fa-circle ep-slipse"></i><i class="fas fa-circle ep-slipse"></i><i class="fas fa-circle ep-slipse"></i><i class="fas fa-circle ep-slipse"></i></h4>
    </div>
    </div>
    
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    
    pageList = document.getElementsByClassName("page-text-i");
    elipsesList = document.getElementsByClassName("ep-slipse");
    elipIndex = 0;
    
    var contentsFull = true;
    
    
    
    for(i=1;i<pageList.length;i++){
        $(pageList[i]).hide();
    }
   var pageIndex = 0;
    var ep1Index = 0;
    var currentIndex = [pageIndex];
    
    $(".first-exploit-episode-text-p2").hide();
    
    $(".next-page-arrow").on("click",function(){
        
        goToNextPage(ep1Index);
       
        
    });
    
      $(".last-page-arrow").on("click",function(){
        
        goToLastPage(ep1Index);
       
        
    });
    
    function goToNextPage(){
        
         $(elipsesList[elipIndex]).removeClass("ep-slipse-active");
        
        elipIndex++;
        $(elipsesList[elipIndex]).addClass("ep-slipse-active");
        
         $(pageList[currentIndex[0]]).hide();
        
        currentIndex[0]++;
        $(pageList[currentIndex[0]]).show();
        
    }
    
     function goToLastPage(){
         $(elipsesList[elipIndex]).removeClass("ep-slipse-active");
        
        elipIndex--;
        $(elipsesList[elipIndex]).addClass("ep-slipse-active");
        
         $(pageList[currentIndex[0]]).hide();
        
        currentIndex[0]--;
        $(pageList[currentIndex[0]]).show();
         
    }
   
    
    $(".first-exploit-episode-text").hide();
      $(".ublog-overview-text").hide();
    

    
    
    $(".episode-contents-item").on("click",function(){
        
        $(".contents-active").removeClass("contents-active");
        $(".contents-active-text").removeClass("contents-active-text");
    $(this).addClass('contents-active');
        $(this).find("h4").addClass('contents-active-text');
        
        
        if($(this).attr('id') == 'ublog-first'){
           
             makeActiveText($(".first-exploit-episode-text"));
              pageList = document.getElementsByClassName("page-text-f");
            currentIndex[0] = ep1Index;
             for(i=0;i<pageList.length;i++){
        $(pageList[i]).hide();
                 
    }
             $(pageList[ep1Index]).show();
           $(".episode-elipses-holer").css("display","block"); 
            
        }
        
        if($(this).attr('id') == 'ublog-intro'){
            
            makeActiveText($(".ublog-intro-text"));
            $(".episode-elipses-holer").css("display","none");
           
            
            
        }
        
        if($(this).attr('id') == 'ublog-overview'){
           makeActiveText($(".ublog-overview-text"));
            $(".episode-elipses-holer").css("display","none");
        }
        
        
       
    });
    
    
    $("#open-blog-sign-up").on("click",function(){
        var url = "/ublog_vuln_1_link";
 window.open(url, '_blank');
    });
    
    function makeActiveText(make_active){ 
         $(".text-active").hide();
             $(".text-active").removeClass("text-active");
        make_active.fadeIn();
        make_active.addClass("text-active");
        
    }
    
    
    
    
    
    
</script>


   <script  >
    
    ( function($) {
  
  $(document).ready(function() {
    
    var s           = $('.slider'),
        sWrapper    = s.find('.slider-wrapper'),
        sItem       = s.find('.slide'),
        btn         = s.find('.slider-link'),
        sWidth      = sItem.width(),
        sCount      = sItem.length,
        slide_date  = s.find('.slide-date'),
        slide_title = s.find('.slide-title'),
        slide_text  = s.find('.slide-text'),
        slide_more  = s.find('.slide-more'),
        slide_image = s.find('.slide-image img'),
        sTotalWidth = sCount * sWidth;

    sWrapper.css('width', sTotalWidth);
    sWrapper.css('width', sTotalWidth);
    
    var clickCount  = 0;
    
    btn.on('click', function(e) {
      e.preventDefault();

      if( $(this).hasClass('next') ) {
        
        ( clickCount < ( sCount - 1 ) ) ? clickCount++ : clickCount = 0;
      } else if ( $(this).hasClass('prev') ) {
        
        ( clickCount > 0 ) ? clickCount-- : ( clickCount = sCount - 1 );
      }
      TweenMax.to(sWrapper, 0.4, {x: '-' + ( sWidth * clickCount ) })


      //CONTENT ANIMATIONS

      var fromProperties = {autoAlpha:0, x:'-50', y:'-10'};
      var toProperties = {autoAlpha:0.8, x:'0', y:'0'};

      TweenLite.fromTo(slide_image, 1, {autoAlpha:0, y:'40'}, {autoAlpha:1, y:'0'});
      TweenLite.fromTo(slide_date, 0.4, fromProperties, toProperties);
      TweenLite.fromTo(slide_title, 0.6, fromProperties, toProperties);
      TweenLite.fromTo(slide_text, 0.8, fromProperties, toProperties);
      TweenLite.fromTo(slide_more, 1, fromProperties, toProperties);

    });
          
  });
})(jQuery);

$('.overlay').addClass('overlay-blue');
        
            ( function($) {
  
  $(document).ready(function() {
    
    let s           = $('.slider2'),
        sWrapper    = s.find('.slider-wrapper2'),
        sItem       = s.find('.slide2'),
        btn         = s.find('.slider-link2'),
        sWidth      = 950;
        sCount2      = sItem.length,
        slide_date  = s.find('.slide-date2'),
        slide_title = s.find('.slide-title2'),
        slide_text  = s.find('.slide-text2'),
        slide_more  = s.find('.slide-more2'),
        slide_image = s.find('.slide-image2 img'),
        sTotalWidth = sCount2 * sWidth;
     
       
    sWrapper.css('width', sTotalWidth);
    sWrapper.css('width', sTotalWidth);
    
    let clickCount2  = 0;
    
    $(".slider-link2").on('click', function(e) {
      e.preventDefault();

      if( $(this).hasClass('next') ) {
        
        ( clickCount2 < ( sCount2 - 1 ) ) ? clickCount2++ : clickCount2 = 0;
      } else if ( $(this).hasClass('prev') ) {
        
        ( clickCount2 > 0 ) ? clickCount2-- : ( clickCount2 = sCount2 - 1 );
      }
      TweenMax.to(sWrapper, 0.4, {x: '-' + ( sWidth * clickCount2 ) })


      //CONTENT ANIMATIONS

      let fromProperties = {autoAlpha:0, x:'-50', y:'-10'};
      let toProperties = {autoAlpha:0.8, x:'0', y:'0'};

      TweenLite.fromTo(slide_image, 1, {autoAlpha:0, y:'40'}, {autoAlpha:1, y:'0'});
      TweenLite.fromTo(slide_date, 0.4, fromProperties, toProperties);
      TweenLite.fromTo(slide_title, 0.6, fromProperties, toProperties);
      TweenLite.fromTo(slide_text, 0.8, fromProperties, toProperties);
      TweenLite.fromTo(slide_more, 1, fromProperties, toProperties);

    });
          
  });
                
                
})(jQuery);

$('.overlay2').addClass('overlay-blue2');
        
    </script>


{% endblock %}

