{% extends 'twwdbase.html' %}

{% block content %}

{% load static %}
   
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">

<style>
    
    

    
    #MT{
        color:#e3ab20;
    }


    
    


    
    .backing-container{

        padding-top:110px;
    }
    
    #about-col-1{
       
    }
    
     #about-col-2{
       
    }
    
     #about-col-3{
    
    }
    
    
    .about-text-div{
        width:100%;
        height:600px;
        background-image:url("{% static 'newback.jpg' %}");
        background-size:cover;
        margin:0 auto;
        border-radius:7px;
        border-style:solid;
        border-color:#e3ab20;
        border-width: 2px;
        margin-bottom: 15px;
        padding: 10px 15px 15px 15px;
    }
    
    
    .navbar{
        background-image:url("{% static 'newback.jpg' %}");
        background-size:cover;
       border-color:#e3ab20;
        width:100%;
        position:fixed;
        z-index:300;
        min-height:60px;
        max-height:60px;
        border-width:1px;
          border-left:0;
        border-right:0;
        border-top:0;
        padding-top:0px;
    }
    
   
    
      
    
    .wSmoke{
        color:whitesmoke;
    }
    
    .wSmoke:hover{
        color:#e3ab20;
    }
    
    

    
    .nav-logo-div{
        width:60px;
        height:55px;
        background-image:url("{% static 'logotwwd.png' %}");
        background-size:cover;
        margin-top:3px;
       
    
        
    }
     .nav-icon:hover{
       
        font-size:110%;
   
    }
    
     .nav-icon{
        
        position:relative;
        margin-top: -5px;
    }
    
    .gold{
        color:#e3ab20;
    }
    
     .gold:hover{
        color:darkgrey;
    }
    
    
    .super-nav{
        width:60px;
        height:65px;
        position:absolute;
        left:0;
    }
    
    .secondary-nav{
        width:800px;
        height:55px;
        overflow: hidden;
       
        position:absolute;
        z-index:999999999999999;
        display:none;
    }
    
    .secondary-class-content{
        position:fixed;
        left:-600px;
        
    }
    
    .ublog-ovr-nav{
        display:none;
        max-height:55px;
    }
    
    .secondary-navver{
        position:fixed;
        top:0;
        height:90px;
        width:100%;
        background-color: #40798C;
        z-index:299;
        border-bottom-width: 2px;
        border-style:solid;
        padding-top:55px;
    
    }
    
   
    
    
    #feat-icon{
        border-width:3px;
        border-style:solid;
        background-color: pink;
    }
    
    .lev-choose-opener{
        height:45px;
        width:65px;
       color:black;
        border-width:0;
        
        border-style:solid;
        border-color:black;
        display:none;
    }
    
    .lev-choose-opener-active{
        border-left-width: 12px;
        height:60px;
        color:white;
        background-image:url("{% static 'newback.jpg' %}");
        background-size:cover;
    }
    
    .lev-bars{
      
        font-size:160%;
        margin-left:14px;
        margin-top:7px;
        
    }
    
    .lev-bars:hover{

        font-size:190%;
        margin-left:10px;
        margin-top:5px;
        
    }
    
    .sub-tit{
        position:fixed;
        width:400px;
        margin-left:60px;
        text-align: center;
        font-size:160%;
        font-weight: 900;
        margin-top:4px;
    }
   
    
    
   
    
    

</style>

   

{% block loading-screen %}
{% endblock %}




 <!--navbar - currently regular bootstra stlye.. -->
     <!--navbar - currently regular bootstra stlye.. -->
        <nav class="navbar navbar-default navbar2">
            
           {% block crop_block %}
    {% endblock %}

            
              
            
            <div class="container-fluid">
                
               
                
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded"false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    
                </div>
                
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                       <ul class="nav navbar-nav ublog-ovr-nav">
                        
                        Ublog Web Exploits - First Vulnerabilty
                        <li class = "nav-icon">
                            <a href="/home">
                                <h4 class = 'gold'>Intro  </h4>
                                
                               
                                <span class="sr-only">
                                    (current)
                                </span>
                            </a>
                        </li>
                        
                     
                        
                        <li class = "nav-icon">
                            <a href="/features">
                               <h4 class = 'gold'>Testing the Water
                                   </h4>
                            </a>
                        </li>
                        
                       
                        
                        <li class = "nav-icon">
                              
                            <a href="/tutorials">
                                <h4 class = 'gold'>
                                
                                    HTTP Parameters
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                   </h4>
                            </a>
                        </li>
                        
                           <li class = "nav-icon">
                            <a href="/ublog_vuln_1_link">
                               <h4 class = 'gold'> Parameter manipulation
                                   <i class="fa fa-globe-africa" aria-hidden="true"></i></h4>
                            </a>
                        </li>
                        
                         <li class = "nav-icon">
                            <a href="#">
                                <h4 class = 'gold'>
                               
                                   
                                 Recap
                                 <i class="fa fa-lightbulb" aria-hidden="true"></i> 
                                </h4>
                                
                            </a>
                        </li>
                        
                        <li class = "nav-icon">
                            <a href="#">
                                <h4 class = 'gold'>
                               
                                  
                                 Exploit P1 
                                
                                      <i class="fa fa-archive" aria-hidden="true"></i> 
                                    
                                </h4>
                                
                            </a>
                        </li>
                        
                        
                    </ul>
                    
                    <ul class="nav navbar-nav foundation-nav orig-nav">
                        <li class = "nav-icon">
                            <a href="/home">
                                <h4 class = 'gold'>Home  <i class="fa fa-home" aria-hidden="true"></i></h4>
                                
                               
                                <span class="sr-only">
                                    (current)
                                </span>
                            </a>
                        </li>
                        
                     
                        
                        <li class = "nav-icon">
                            <a href="/features">
                               <h4 class = 'gold'>Features
                                   <i class="fa fa-globe-africa" aria-hidden="true"></i></h4>
                            </a>
                        </li>
                        
                       
                        
                        <li class = "nav-icon">
                              
                            <a href="/tutorials">
                                <h4 class = 'gold'>
                                
                                    Ethical Hacking
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                   </h4>
                            </a>
                        </li>
                        
                           
                        
                         <li class = "nav-icon">
                            <a href="#">
                                <h4 class = 'gold'>
                               
                                   
                                 Projects
                                 <i class="fa fa-lightbulb" aria-hidden="true"></i> 
                                </h4>
                                
                            </a>
                        </li>
                        
                       
                        
                    </ul>
                    
                 
                    
                    
                
                    
                    
                    
                    
                    <!-- Right Hand Side Of Navbar: -->
                    <ul class="nav navbar-nav navbar-right">
                        
                        <h3 id = "MT"> Melon Sec</h3>
                        
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
             
        </nav>
 {% if sec_nav %}

<div class = "secondary-navver">
    
      <div class = "sub-tit">
        Over-The-Wire Walkthrough
    </div>
            
  <div class = "lev-choose-opener">
      <i class="fas fa-bars lev-bars"></i>

    </div>
    
  
           
</div>

{% block downnav %}
    {% endblock %}
        
         
         {% endif %}

           




{% block optional_cover %}
{% endblock %}






    
 





{% load static %}
<script src="{% static 'js/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery.fileupload.js' %}"></script>



<script>
    
    
    
    $(".lev-choose-opener").on("click",function(){
        $(".lev-choose-opener").addClass("lev-choose-opener-active");
        $(".funky-l-hold").fadeIn();
    });
    
    $(".funky-l-hold").on("mouseleave",function(){
        timer = setTimeout(hideLevChoose,600);
    });
    
    function hideLevChoose(){
         
        $(".funky-l-hold").fadeOut();
        timer =setTimeout(function(){
            $(".lev-choose-opener").removeClass("lev-choose-opener-active");
        },260);
        
       
        
    }
    
    //$(".ublog-ovr-nav").css("display","block");
    //$(".orig-nav").css("display","none");
    
     /*
    $(".super-nav").on("mouseover",function(){
    
        
         $(".foundation-nav").fadeOut();
        
        $(".secondary-nav").css("display","block");
        
        $(".secondary-class-content").css("left",0);
        
       
        
        
        
       
    }); */ 
    /*
    $(".secondary-class-content").on("mouseleave", function(){
    
        resetNav();
    }); */
    
    function resetNav(){
      
        
        $(".secondary-nav").css("display","none");
        
        $(".secondary-class-content").css("left","-600px");
        
           $(".foundation-nav").fadeIn();
    }
  
   

    /*
    
            var slideIndex2 = 1;
showDivs2(slideIndex2);

function plusDivs2(n) {
   
    showDivs2(slideIndex2 += n);
}

function showDivs2(n) {
  
    var i2;
    var x2 = document.getElementsByClassName("historicalSlides");
     
    if (n > x2.length) {slideIndex2 = 1} 
    if (n < 1) {slideIndex2 = x2.length} ;
    for (i2 = 0; i2 < x2.length; i2++) {
        x2[i2].style.display = "none"; 
    }
    x2[slideIndex2-1].style.display = "block"; 
     
    
}
    
    
    
    
    var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  
    showDivs(slideIndex += n);
}

function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("modernSlides");
    if (n > x.length) {slideIndex = 1} 
    if (n < 1) {slideIndex = x.length} ;
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none"; 
    }
    x[slideIndex-1].style.display = "block"; 
}
    
    
    document.getElementById('leftArrow').onclick = function(){ plusDivs(-1); plusDivs2(-1);    };
    document.getElementById('rightArrow').onclick = function(){ plusDivs(1); plusDivs2(1);     };
    

    
    
    
    

window.onresize = function(event) {

resizeDiv();
}

function resizeDiv() {
    
   
var vph = window.innerHeight;
document.getElementById('frontText').style.height = vph+"px";
document.getElementById('compCont1').style.height = vph+"px";
    document.getElementById('compCont2').style.height = vph+"px";
    document.getElementById('compCont3').style.height = vph+"px";
  
    document.getElementById('compCont5').style.height = vph+"px";
document.getElementById('goalsText').style.height = vph+"px";
    document.getElementById('involvedText').style.height = vph+"px";
    document.getElementById('sendPhotosText').style.height = vph+"px";
      
    

    
    
    
   
}
    
    resizeDiv();
    
   
    
    function initComparisons() {
  var x, i;

  x = document.getElementsByClassName("img-comp-overlay");
  for (i = 0; i < x.length; i++) {
   
    compareImages(x[i]);
  }
  function compareImages(img) {
    var slider, img, clicked = 0, w, h;
  
    w = img.offsetWidth;
    h = img.offsetHeight;
   
    img.style.width = (w / 2) + "px";
  
      
    slider = document.createElement("DIV");
    slider.setAttribute("class", "img-comp-slider");

    img.parentElement.insertBefore(slider, img);
  
    slider.style.top = (h / 2) - (slider.offsetHeight / 2) + "px";
    slider.style.left = (w / 2) - (slider.offsetWidth / 2) + "px";
    slider.style.paddingTop = "10px";
      slider.style.paddingLeft = "12px";
    slider.innerHTML = '<i class="fa fa-arrows-alt-h" aria-hidden="true"></i>';
   
    slider.addEventListener("mousedown", slideReady);
 
    window.addEventListener("mouseup", slideFinish);
    /*or touched (for touch screens:*/
 
    /*
  }
}

    initComparisons()
    
*/
</script>





{% endblock %}